version: '3.8'
services:
  plumber:
    volumes:
      - ./:/home/plumber/app:ro
    environment:
      - R_ENVIRON=development
    command: R -e "pr <- plumber::plumb('quarto-site/api/plumber.R'); pr$run(host='0.0.0.0', port=8000)"

  site:
    volumes:
      - ./quarto-site/_site:/usr/share/nginx/html:ro
