name: Build and deploy site

on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  build-and-deploy:
    name: Build site and deploy to GitHub Pages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      # Only need to upload the web-app folder
      - name: Upload artifact for Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: web-app

      - name: Deploy to Pages
        uses: actions/deploy-pages@v4
